body {
    background: linear-gradient(to left, #f5c454, #b2b092);
    height: 100vh; 
    margin: 0;
    font-family: serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.content h1,p {
    margin-bottom: 50px;
}

   /* Custom responsive font sizes */
.fs-sm-3 {
    font-size: 1.25rem; /* Font size for small devices */
}

@media (min-width: 768px) {

    .fs-md-2 {
        font-size: 1.6rem; /* Font size for medium devices */
    }
}

@media (min-width: 992px) {
    .fs-lg-1 {
        font-size: 2rem; /* Font size for large devices */
    }
}


